* {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Arial";
}

body {
    background-color: aliceblue;
}

h1 {
    font-family: "Times";
    font-style: italic;
}

button {
    font-family: "Arial";
}

table {
    border: 2px solid darkcyan;
}

td {
    background-color: white;
    border: 1px solid darkcyan;
    text-align: left;
    width: 50%;
}

input {
    border: transparent;
    text-align: left;
    display: inline;
}

.notice {
    font-family: "Times New Roman";
    font-size: small;
    font-style: italic;
}

.score, .weight {
    background: transparent;
}

.result {
    font-size: medium;
}

#categoryTitle, #addCategory {
    position: relative;
    bottom: 15px;
}

#categoryTitle {
    border: 1px solid darkcyan;
    border-radius: 4px;
    height: 28px;
}

#finalInfo {
    position: relative;
    top: 10px;
}