* {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

input {
    text-align: left;
    display: inline;
}

#categories{
    border: 2px solid black;
}

.title {
    text-align: left;
    width: 50%;
    border: 1px dashed black;
}